<p>
  recording works!
</p>
<div class="container-fluid">

  <div>
    <hh-pie-chart></hh-pie-chart>
    <h1>{{'title'}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</div><!-- /.container -->
<footer class="footer">
    <ul class="nav nav-justified">
      <li class="nav-item">
        Record
      </li>
      <li class="nav-item">
        Play
      </li>
      <li class="nav-item">
        Pause
      </li>
      <li class="nav-item">
        Stop
      </li>
    </ul>

</footer>
